*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Properties */
:root {
    --ff: 'Outfit', sans-serif;

    --fs-reg: 400;
    --fs-bold: 700;

    --bg-clr-light: hsl(0, 0%, 100%);
    --bg-clr-gray: hsl(212, 45%, 89%);
    --bg-clr-grayish-blue: hsl(220, 15%, 55%);
    --bg-clr-dark-blue: hsl(218, 44%, 22%);

    --fs-h1: 1.25rem;
    --fs-body: 15px;

    --ws-mobile: 375px;
    --ws-desktop: 1440px;
}

/* General Styles */
body {
    width: var(--ws-mobile);
    height: 100vh;
    max-width: min-content;
    text-align: center;
    background-color: var(--bg-clr-gray);
    font-family: var(--ff);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--bg-clr-light);
    border-radius: 15px;
}

/* QR code section */
.qr--code__img {
    border-radius: 15px;
    margin: 1em;
    max-width: 280px;
}

/* description */
.description {
    margin: 1em;
    padding: 1em;
    margin-top: 0;
    padding-top: 0;
}

.description__title {
    font-size: var(--fs-h1);
    color: var(--bg-clr-dark-blue);
    margin-top: .15em;
    margin-bottom: 1em;
}

.description__subtitle {
    color: var(--bg-clr-grayish-blue);
    font-size: var(--fs-body);
    margin-bottom: .75em;
}

/* footer */
footer {
    margin-top: 1.75em;
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: var(--bg-clr-dark-blue);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

@media (min-width: 800px) {
    body {
        width: var(--ws-desktop);
    }
}